<div [formGroup]="form">
  <mat-form-field>
    <input matInput
      [id]="config.name"
      [placeholder]="config.label"
      [formControlName]="config.name"
    />
    <mat-hint>{{ config.placeholder }}</mat-hint>
  </mat-form-field>
</div>
