<form [formGroup]="form" *ngIf="config" (ngSubmit)="onSubmit($event)">

  <ng-container
    *ngFor="let fieldConfig of config"
    [appFieldGenerator]="[fieldConfig, form]"
  >
    <!-- <pre style="border: 1px solid black">{{ fieldConfig | json }}</pre> -->

  </ng-container>
</form>

<pre>{{ form.value | json }}</pre>
<pre>valid: {{ form.valid }}</pre>
<pre>invalid: {{ form.invalid }}</pre>
