<div [formGroup]="form">
  <mat-form-field>
    <mat-label>{{config.label}}</mat-label>
    <mat-select [id]="config.name"
      [formControlName]="config.name">

      <mat-option [value]="">
        Select
      </mat-option>
      <mat-option *ngFor="let option of config.options" [value]="option">
        {{ option }}
      </mat-option>

    </mat-select>
    <mat-hint>{{ config.placeholder }}</mat-hint>
  </mat-form-field>
</div>
